In [1]:
pip install pillow

Requirement already satisfied: pillow in c:\users\hp\anaconda3\lib\site-packages (6.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [2]:
import pandas as pd
from PIL import Image, ImageDraw, ImageFont

In [3]:
df = pd.read_csv("csi - 2.csv")

In [4]:
df

,id,name,email,year
0,01JST20IS032,NITHIN PATHIKONDA,nithin.mahesh.pathikonda@gmail.com,2024
1,01JCE21CS066,NEHA DAYANAND,nehadayanand1234@gmail.com,2025
2,01JCE21CS075,Pratik Rajput,prateekrjt14@gmail.com,2025
3,01JST19CS151,Stuti Srinath,stutiisrinath@gmail.com,2024
4,01JCE21CS067,Niranjan P,niranjan.p2302@gmail.com,2025
...,...,...,...,...
76,01JST20IS026,Navneet Swaraj,navneetswarj149@gmail.com,2024
77,01JST20CS020,Ankitha K,ankithakoopu@gmail.com,2024
78,01JST20CS142,Sanika S Tuppad,sanika7302@gmail.com,2024
79,01JCE21EE024,Meghana S,ganapathigajanana137@gmail.com,2025
80,01JST21CS062,Krishna S Luthria,krishnasluthria@gmail.com,2025

In [5]:
records = df.to_dict(orient='record')

In [6]:
font = ImageFont.truetype("OpenSans-Semibold.ttf", size=35)
font2 = ImageFont.truetype("OpenSans-Semibold.ttf", size=45)
font3 = ImageFont.truetype("OpenSans-Semibold.ttf", size=40)

In [7]:
def generate_card(data):
    template = Image.open("template.png")
    draw = ImageDraw.Draw(template)
    draw.text((445, 153), str(data['id']), font=font, fill='black')
    draw.text((335, 270), data['name'], font=font2, fill='black')
    draw.text((365,333), str('(')+str(data['year'])+str(')'), font=font3, fill='black')
    return template

In [8]:
for record in records:
    card = generate_card(record)
    card.save(f"CSI/{record['name']}.png")